* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #ecf2f8;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    z-index: 3;
}

.header img {
    border-radius: 50%;
    margin-right: 10px;
}

#quote {
    position: absolute;
    right: 15%;
    top: 0;
    z-index: 0;
}

.header .name {
    opacity: 100%;
    font-size: 1.3rem;
}

#grid-item p {
    opacity: 70%;
}

#testimonial-grid-container {
    padding: 5% 3%;
} 

#testimonial-1 {
    background-color: #7541c8;
    color: white;
    position: relative;
    z-index: 3;
}
#testimonial-2 {
    background-color: #48556a;
    color: white;
}
#testimonial-3, #testimonial-5 {
    color: #48556a;
    background-color: #ffffff;
}
#testimonial-4 {
    background-color: #19212e;
    color: white;
}


.grid-item h4 {
    margin-bottom: 15px;
    font-size: 1.2rem;
}

.grid-item {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

@media (min-width: 576px) {
    #testimonial-grid-container {
        display: flex;
        max-width: 900px;
        margin: 0 auto;
    }

    #main-left {
        display: flex;
        flex-direction: column;
        flex-basis: 75%;
    }

    #testimonial-5 {
        flex-basis: 25%;
    }

    #top {
        display: flex;
        flex-basis: 50%;
    }

    #bottom {
        display: flex;
        flex-basis: 50%;
    }

    #testimonial-1 {
        background-color: #7541c8;
        color: white;
        flex-basis: 65%;
    }
    #testimonial-2 {
        background-color: #48556a;
        color: white;
        flex-basis: 35%;
    }
    #testimonial-3 {
        background-color: #ffffff;
        flex-basis: 35%;
    }
    #testimonial-4 {
        background-color: #19212e;
        color: white;
        flex-basis: 65%;
    }

    #main-left .grid-item {
        margin-right: 15px;
    }
}